<h1>Editing project</h1>
 
<%= form_for :project, url: project_path(@project), method: :patch do |f| %>
 
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
  <%= f.fields_for :tag do |tag_form| %>
  <%= tag_form.label :keyword %>
  <%= tag_form.text_field :keyword %>
  <% end %>
  </p>

  <p>
  <%= f.fields_for :timeline do |timeline_form| %>
  <%= timeline_form.label :lifecycle, "Project's Lifecycle" %>
  <%= timeline_form.select :lifecycle, Timeline.lifecycles.collect {|value| [value[0].gsub('_',' ').capitalize!, value[1]]}, {include_blank: false, :multiple => true}  %>
  <% end %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', projects_path %>
