<!--<p>
  <strong>Project:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p> -->

<p>
  <strong> Name: </strong>
  <%= @project.name %>
</p>

<p>
  <strong> Author(s): </strong>
  <% if !@project.people.empty? %>
    <% @project.people.each do |person| %>  
    <%= link_to " " + person.name, controller: "projects", search: person.name %>
    <% end %> 
  <% end %>
</p>
<p>
  <strong>  Description: </strong>
  <%= @project.description %>
</p>
<p>
   <strong> Category: </strong>
    <%= link_to @project.category, controller: "projects", search: @project.category %>
  </p>
<p>
  <strong>  Update Frequency: </strong>
  
   <%= @project.update_rate %> 
  </p>
<p>
  <strong>  Typical Users: </strong>
  <%= @project.typical_user %> 
  </p>
<p>
  <strong> Timeline(s): </strong>
    <% if !@project.timelines.empty? %>
      <% @project.timelines.each do |timeline| %>  
      <%= link_to " " + timeline.lifecycle.gsub('_',' ').capitalize!, controller: "projects", search: timeline.lifecycle%>
      <% end %> 
    <% end %>
  </p>
<p>
     <strong> Tags: </strong>
    
    <% if !@project.tags.empty? %>
      <% @project.tags.each do |tag| %>  
      <%= link_to " " + tag.keyword, controller: "projects", search: tag.keyword%>
      <% end %>
    <% end %>
</p>


<p>
  <strong>Link:</strong>
 <a href=<%= @project.link %>>  <%= @project.link %> </a>
</p>

<!-- <td><%= link_to 'Edit', edit_project_path(@project) %></td>
     <td><%= button_to 'Destroy', project_path(@project),
             method: :delete, data: { confirm: 'Are you sure?' }  %> </td> -->

<%= link_to 'Back', projects_path %>

