<h1>Listing of Timelines</h1>
 
<table class = "table table-bordered">
  <tr>
    <th>Timeline: </th>
    <th>Projects: </th>
  </tr>
 
  <% @timelines.each do |timeline| %>
    <tr>
      <td><a href=<%= timeline_path(timeline)  %>> <%= timeline.lifecycle.gsub('_',' ').capitalize! %> </a> </td>
      <td>
	<% timeline.projects.each do |project| %>
	  <a href= <%=project_path(project) %>> <%= " " + project.name + "," %> </a>
	<% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', root_url %>
